</body>
</html>
<!DOCTYPE html>
<html>
<head>
<style>


h1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8FBC8F;
  text-align: center;

}
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8FBC8F;
  text-align: center;
}
