
<!DOCTYPE html>
<html>
<head>
<style>

/* makes the text in the navbar bold*/  
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
/* makes the text in the navbar in a horizontal line*/
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
/* makes my navbar green and centers text */
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #8FBC8F;
  text-align: center;
  font-family:"Arial Black", Gadget, sans-serif;
}
/* makes the text in the navbar pink */
a {
    text-decoration: none;
    color:  #ecc6c6;
}
/* centers my header */
h1 {
text-align: center;
}

/* makes portfolio title centered and pink */
h3 {
text-align: center;
color:  #df9f9f
}

/* makes blown to bits title centered and pink */
h4 {
text-align: center;
color:  #df9f9f
}

/* makes the small text at the top under "tiffany's website" gray */
p {
  color: gray;
}
/* centers the password generator project */
#passgen {
    margin-left: 25%;
    margin-right: 5%;
}
/* centers the blown to bits project */
#btb {
    margin-left: 25%;
    margin-right: 5%;
}
</body>
</html>
