    
</body>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
  
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
/* makes my navbar green and centers text */
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #8FBC8F;
  text-align: center;
  font-family:"Arial Black", Gadget, sans-serif;
}
/* makes the text in the navbar pink */
a {
    text-decoration: none;
    color:  #ecc6c6;
}
a:hover {
    text-decoration: underline;
}

h1 {
text-align: center;
}
/* makes portfolio title centered and pink */
h3 {
text-align: center;
color:  #df9f9f
}

h4 {
text-align: center;
color:  #df9f9f

}

p {
  color: gray;
}
/* centers the password generator project */
#passgen {
    margin-left: 25%;
    margin-right: 5%;
}
/* centers the blown to bits project */
#btb {
    margin-left: 25%;
    margin-right: 5%;
}
</body>
</html>
