<!DOCTYPE html>
<html>
<head>
<style>
  
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #8FBC8F;
  text-align: center;
  font-family:"Arial Black", Gadget, sans-serif;

}
a {
    text-decoration: none;
    color:  #ecc6c6;
}
a:hover {
    text-decoration: underline;
}
h3 {
	text-align: center;
	color:  #df9f9f
}
div1 {
  display: block;
  margin-left: 50px;
  margin-right: 10px;
}

</body>
</html>
